@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */

/* Apply Lora for body text */
body {
  font-family: 'Lora', serif;
  line-height: 1.6;  /* For better readability */
}

/* Apply Lobster for headers */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Lobster', cursive;
  font-weight: 400;  /* You can adjust the weight if needed */
}
