/* styles/navbar.css */
.navbar {
    font-family: 'Lobster', cursive;
    font-weight: 400; 
    background-color: #6b4f4f;
    color: white;
}

.navLink {
  font-family: 'Lora', serif;
  line-height: 1.6; 
}